@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lexend', sans-serif;
}

p{
    font-size: 14px !important;
}

a, button{
    text-decoration: none !important;
}

button {
    padding: 0.7em 2em !important;
    border-radius: 8px !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    border: none !important; 
}

input[type='radio'] {
    accent-color: #5798ab !important;
}

.btn-primary {
    background-color: #55C8EA !important;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn-outline-primary{
    background-color: #fff !important;
    color: #000 !important;
    border: 1px solid #5a99aa !important;
    padding: 0.5em 1em;
    font-weight: 200 !important;
    display: flex;
    gap: 0.3em;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: rgba(85, 200, 234, 0.8) !important;
}

.btn-primary:active {
    background-color: #55C8EA;
    opacity: 0.8;
}

.btn-secondary {
    border-radius: 10px !important;
    background: #0F2B3D !important;
}

.btn-secondary:hover {
    background: rgba(15, 43, 61, 0.99) !important;
}

.btn-secondary:active {
    background: #0F2B3D !important;
}

.filter {
    background: url("/assets/educatie.png");
    padding-top: 100px;
    padding-bottom: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

input:not([type="file"]):not([type="checkbox"]),
select {
    border-radius: 10px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    padding-bottom: 0.8em !important;
    padding-top: 0.8em !important;
}

.form-check-input{
    padding: 0 !important;
}

.form-select:focus {
    border: 1px solid #55C8EA !important;
    box-shadow: 0px 0px 10px rgba(85, 200, 234, 0.5) !important;
} 

.form-check-input:checked {
    background-color: rgb(182 238 255 / 80%) !important;
    border: 1px solid #55C8EA !important;
    box-shadow: 0px 0px 10px rgba(85, 200, 234, 0.5) !important;
} 

.form-check-input:checked[type=checkbox]{
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%2355c8ea' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e") !important;
}

.form-check-input.is-valid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
    color: #55c8ea;
}

.card{
    border-radius: 15px !important;
    border: none !important;
    box-shadow: 0px 7px 30px 0px rgba(170, 170, 170, 0.25) !important;
}

.tag{
    border-radius: 15px;
    background: #55C8EA;
    font-size: 14px !important;
    color: #fff;
    font-weight: 600 !important;
    padding: 0.3em 1.2em !important;
}

.our-teachers{
    cursor: pointer;
}

.text-primary{
    color: #55c8ea !important;
}


.navbar-nav .nav-link{
    color: #fff !important;
}

input,
select {
    border-radius: 4px !important;
    border: 1px solid #DDD !important;
}

label {
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: 200 !important;
    line-height: normal !important;
}

.form-check-label {
    font-size: 15px !important;
    margin-top: 0.2em !important;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.required {
    color: #55C8EA !important;
}

/* placeholder */
::-webkit-input-placeholder, select:invalid {
    color: #8f8f8f !important;
    font-size: 16px !important;
    font-weight: 200 !important;
}

.form-control.is-valid,
.was-validated .form-control:valid {
    background: url("/assets/correct.svg") no-repeat right 10px center;
    /* green */
    border: 1px solid #138500 !important;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
    background: url("/assets/incorrect.svg") no-repeat right 10px center;
    border: 1px solid #FF0000 !important;
}

.form-select.is-valid,
.was-validated .form-select:valid {
    border: 1px solid #138500 !important;
}

.form-select.is-invalid,
.was-validated .form-select:invalid {
    border: 1px solid #FF0000 !important;
}

tbody, td, tfoot, th, thead, tr {
    padding-left: 0 !important;
    border: none;
}

select{
    border-radius: 10px !important;
}

.card .photo{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.dropdown-item {
    word-wrap: break-word;
    white-space: normal;
    max-width: 440px;
}

.dropdown-menu{
    width: 403px;
}


.nav-link {
    padding: 10px 15px; /* Add padding to the link */
}

.dropdown-item {
    word-wrap: break-word;
    white-space: normal;
    padding: 10px 15px; /* Add padding to the dropdown items */
}

.fas {
    margin-right: 10px; /* Add margin to the icons */
}

.notification-count {
    display: inline-block;
    min-width: 20px;
    padding: 0 6px;
    margin-left: 5px;
    border-radius: 10px;
    background-color: #55C8EA;
    color: white;
    text-align: center;
    font-size: 12px;
    position: absolute;
    top: 0em;
    right: 24px;
    line-height: 20px;
}

.dropdown-item{
    font-weight: 400;
    font-size: 14px;
}

td{
    font-size: 14px;
}

label{
    margin-bottom: 20px;
}

.timestamp-tag {
    display: inline-block;
    padding: 2px 6px;
    margin-left: 5px;
    border-radius: 4px;
    background-color: #f0f0f0;
    color: #333;
    font-size: 12px;
}

.btn-sm{
    padding: 0.5em 1em !important;
    font-size: 14px !important;
    margin-top: -0.6em;
}

.fc-col-header-cell-cushion{
    color: #000 !important; 
    padding: 0.5em 0.5em !important;
}

.fc .fc-timegrid-slot{
    padding: 0.5em 0.5em !important;
}

.fc-prev-button{
    margin-right: 1em !important;
}

.fc-event-main{
    background-color: #55C8EA !important;
    border: none !important;
}

.fc-button-primary{
    background-color: #55C8EA !important;
    border: none !important;
}

.our-teachers > .card{
    box-shadow: 0 3px 30px hsla(0, 0%, 75%, .161) !important;
    border: 1px solid rgba(82, 142, 239, .3) !important;
}